    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;400&display=swap');
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
    body {
        font-family: 'Montserrat', sans-serif;
        /* font-family: 'Raleway', sans-serif; */
        background: url('images/final-wave.svg') right bottom no-repeat, url(images/upper-wave.svg) left top no-repeat;
        /* background-position: right bottom; */
        width: 100vw;
        overflow-x: hidden;
    }
    
    section {
        display: flex;
        /* justify-content: space-around; */
        max-width: 80%;
        margin: 4rem 10% 4rem 10%;
        height: 80vh;
        background-color: #ffffff66;
        box-shadow: 3px 8px 15px #D9DADE, -10px -8px 15px #FFFFFF
    }
    
    #left-div {
        padding: 2rem 4rem;
    }
    
    #left-div p {
        margin: 1rem 0;
        font-size: 1.5rem;
    }
    
    #right-div {
        margin: 0%;
    }
    
    #right-div img {
        max-width: 750px;
        margin-top: 5rem;
        padding-left: 1rem;
    }
    
    h1 {
        font-size: 3rem;
        color: #011756;
        font-weight: bolder;
        margin: 1rem 0;
    }
    
    #birthdate {
        background-color: #ffffff66;
        border: rgb(153, 0, 239) solid 3px;
        /* background: rgb(153,0,239); */
        /* background: linear-gradient(49deg, rgba(153,0,239,1) 4%, rgba(0,162,239,1) 37%, rgba(0,239,232,1) 74%); */
        padding: 0.7rem 2rem;
        border-radius: 7px;
        font-size: x-large;
        display: block;
        /* margin: auto; */
        outline: none;
    }
    
    #lucky-num {
        padding: 0.8rem 2rem;
        border: none;
        font-size: larger;
        margin-top: 1rem;
        border: rgb(153, 0, 239) solid 3px;
        /* text-align: center; */
        outline: none;
        display: block;
        background: #ffffff66;
        border-radius: 6px;
    }
    
    #btn {
        /* margin-top: 1rem; */
        border: rgb(153, 0, 239) solid 3px;
        background: #ffffff99;
        /* border: none; */
        outline: none;
        padding: 0.8rem 2rem;
        border-radius: 10px;
        font-size: larger;
        cursor: pointer;
    }
    
    #btn:hover,
    #lucky-num:hover,
    #birthdate:hover {
        box-shadow: 3px 8px 15px #D9DADE, -10px -8px 15px #FFFFFF
    }
    
    #btns {
        margin-top: 1rem;
        display: flex;
        align-items: center;
    }
    
    #tweet {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    #tweet img {
        width: 66px;
    }
    
    #reset {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    #reset img {
        width: 60px;
    }
    /* box-shadow: 3px 8px 15px #d2d3d6, -10px -8px 15px #ececec; */
    
    #output {
        margin: 1rem 0;
        color: #011756;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 2.9rem;
    }
    
    footer {
        align-items: center;
        padding: 1rem 2rem;
        margin: auto;
        display: flex;
        border-radius: 1rem;
        justify-content: space-around;
        max-width: 90%;
        margin-bottom: 2rem;
        background-color: #ffffff66;
        box-shadow: 3px 8px 15px #D9DADE, -10px -8px 15px #FFFFFF
    }
    
    footer img {
        width: 50px;
    }
    
    .inline-list li {
        display: inline;
    }
    
    footer p {
        text-align: end;
        font-size: larger;
    }
    
    footer span {
        cursor: pointer;
    }
    
    #policy-card {
        visibility: hidden;
        color: #fff;
        transform: translate(-50%, -50%);
        background: rgb(153, 0, 239);
        /* background: linear-gradient(49deg, rgba(153, 0, 239, 1) 15%, rgba(0, 162, 239, 1) 46%, rgba(0, 203, 235, 1) 65%, rgba(0, 239, 232, 1) 84%); */
        border-radius: 5px;
        padding: 2rem;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 50%;
        font-size: 1.4rem;
    }
    
    #policy-card.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }
    
    @media screen and (max-width: 600px) {
        #right-div {
            display: none;
        }
        section {
            height: auto;
        }
        #left-div {
            padding: 2rem 1rem;
            /* margin-top: 2rem; */
            margin-bottom: 1rem;
        }
        footer {
            flex-direction: column;
        }
        footer p {
            text-align: center;
        }
        h1 {
            font-size: 2.6rem;
        }
        #output {
            font-size: xx-large;
        }
        #policy-card {
            transform: none;
            background: rgb(153, 0, 239);
            padding: 1rem;
            left: 0;
            margin: 0 1rem;
            bottom: 50%;
        }
    }